<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear /> <!-- ensure only the sources defined below are used -->
    <add key="NuGetOfficial" value="https://api.nuget.org/v3/index.json" />
	<add key="GorillaITLibrary" value="https://gorillait.pkgs.visualstudio.com/_packaging/GorillaITLibrary/nuget/v3/index.json" />
    
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>